[run]
parallel = true
concurrency = multiprocessing
source = source/public_detective
branch = true

[report]
fail_under = 95
ignore_errors = false
omit =
    .venv/**
    *__init__*
    *__main__*
    source/public_detective/migrations/*
