[flake8]
max-line-length = 120
max-complexity = 12
per-file-ignores =
    source/public_detective/migrations/*:E501,DAR,NHC
    tests/*:NHC,DAR
exclude =
    .git,
    .venv,
    .vscode,
    __pycache__,
    build,
ignore = C901, E203, W503, DAR401, DAR402
extend-select = NHC
min-name-length = 3
max-name-length = 30
min-const-length = 3
max-const-length = 50
allowed-short-variable-names = i,j,k,_,e
no-hash-allow-prefixes = Arrange,Act,Assert
no-hash-allow-substrings = nosec,type: ignore,noqa
