[flake8]
max-line-length = 120
max-complexity = 12
per-file-ignores =
    migrations/*.py:E501
    source/*.py:C901
    tests/*.py:DAR
    source/migrations/*.py:DAR
exclude =
    .git,
    .venv,
    .vscode,
    __pycache__,
    old,
    build,
    dist,
ignore = E203, W503, DAR401, DAR402
