default_language_version:
  python: python3.12
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
        name: Check Merge Conflict
      - id: trailing-whitespace
        name: Trailing Whitespace
      - id: end-of-file-fixer
        name: Fix End of Files
      - id: debug-statements
        name: Debug Statements
      - id: check-added-large-files
        name: Check Added Large Files
      - id: name-tests-test
        name: Python Tests Naming
        args:
          - --pytest-test-first
  - repo: https://github.com/djlint/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-jinja
        name: Format Jinja2 Templates
        files: \.html$
        types_or: [html]
        args: ["--indent", "2", "--profile", "jinja"]
      - id: djlint-jinja
        name: Lint Jinja2 Templates
        files: \.html$
        types_or: [html]
        args: ["--profile", "jinja"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Prettier
        types_or: [css, javascript, json, yaml, markdown]
        exclude: \.html$
  - repo: local
    hooks:
      - id: rustywind
        name: Rustywind
        entry: npx rustywind
        language: node
        types: [html]
        args: [--write]
        require_serial: true
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
      - id: pyupgrade
        name: Pyupgrade
        args:
          - --py312-plus
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: black
        language: python
        require_serial: true
        types_or:
          - python
          - pyi
      - id: isort
        name: Isort
        entry: isort
        require_serial: true
        language: python
        types_or:
          - cython
          - pyi
          - python
        args:
          - --filter-files
      - id: flake8
        name: Flake8
        entry: flake8
        language: python
        types:
          - python
        require_serial: true
      - id: mypy
        name: Mypy
        entry: mypy
        language: python
        types_or:
          - python
          - pyi
        require_serial: true
        additional_dependencies:
          - types-requests
      - id: vulture
        name: Vulture
        language: python
        entry: vulture
        types:
          - python
        require_serial: true
      - id: bandit
        name: Bandit (Security Analysis - Application)
        entry: bandit
        language: python
        types:
          - python
        args:
          - -c
          - pyproject.toml
        exclude: ^source/public_detective/migrations/versions/
      - id: bandit
        name: Bandit (Security Analysis - Migrations)
        entry: bandit
        language: python
        types:
          - python
        files: ^source/public_detective/migrations/versions/
        args:
          - -c
          - .bandit-migrations.yaml
      - id: interrogate
        name: Interrogate
        entry: interrogate
        language: python
        types:
          - python
        exclude: ^(source/public_detective/migrations/|tests/|docs/)
      - id: pydocstyle
        name: Pydocstyle
        entry: pydocstyle
        language: python
        types:
          - python
        exclude: ^(source/public_detective/migrations/|tests/)
        args:
          - --convention=google
      - id: pytest-cov
        name: Pytest Coverage
        entry: poetry run pytest -n auto --cov=source
        language: system
        types:
          - python
        pass_filenames: false
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.88.0
    hooks:
      - id: terraform_fmt
      - id: terragrunt_fmt
        entry: terragrunt hcl fmt
        language: system
      - id: terraform_docs
        args:
          - --args=--lockfile=false
      # 4. Segurança Estática (Security Scanner)
      # Procura senhas hardcoded, discos sem encriptação, etc.
      - id: terraform_trivy
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
